.git
.env
.env.backup
.env.production
.rnd
vendor
node_modules
storage/*.key
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/storage
bootstrap/cache/*.php
npm-debug.log
yarn-error.log
